.commentContainer {
  background-color: lavenderblush;
  border: 5px solid darkred;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  width: 70%;
  margin: 0.5rem auto;
}

.initialsCircle {
  display: inline-block;
  font-size: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  border-radius: 50%;
  background: darkred;
  vertical-align: middle;
  margin-right: 0.1rem;
  color: whitesmoke;
  font-weight: bold;
}

.comment {
  font-size: 1rem;
}

.commentAuthor {
  font-size: 1.1rem;
  color: darkred;
  display: inline;
  margin-left: 1rem;
}
